---
layout: page
---
<div class="header-bar">
  <h1 class="title">Helga Jiang</h1>
    <p class="subtitle">Hi there! 👋 I’m a product designer passionate about building meaningful experiences. I'm currently interning at <a href="https://mailchimp.com/">MailChimp</a> and have previously designed for <a href="https://shopify.ca/">Shopify</a>.
    <br/><br/>
    Check out some of my work below or take a look at my <a class="link" href="{{ site.baseurl }}/resume.pdf" target="_blank">r&eacute;sum&eacute;</a>.
    </p>
    
    <span class="contacticon">
	<a class="envelope" href="mailto:hhjiang@uwaterloo.ca"><i class="fa fa-envelope"></i></a>
	<a href="https://dribbble.com/helgajiang" target="_blank"><i class="fa fa-dribbble"></i></a>
<!--	<a href="https://github.com/helgajiang" target="_blank"><i class="fa fa-github"></i></a>-->
	<a href="https://www.linkedin.com/in/helgajiang" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.medium.com/@helgajiang" target="_blank"><i class="fa fa-medium"></i></a>
<!--    <a href="https://instagram.com/puddingfishcakes" target="_blank"><i class="fa fa-instagram"></i></a>-->
	<a href="https://twitter.com/helgajiang" target="_blank"><i class="fa fa-twitter"></i></a>
</span>
</div>
<div class="grid">

{% for project in site.portfolio %}

<div class="grid-item">
    <div class="thumbnail">
        <a href="{{ site.baseurl }}{{ project.url }}">
        {% if project.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}    
        <span>
            <p class="project-title">{{ project.title }}</p>
            <p class="project-desc">{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>

{% endfor %}

</div>
<!--
<div class="writing">
    <h2>Writing</h2>
    <a href="https://ux.shopify.com/my-experience-as-a-ux-design-intern-at-shopify-4ad46efc6d0d">My Experience as a UX Design Intern at Shopify</a>
    <p class="date">December 21, 2016</p>
    
</div>-->
