/**
 * Site header   **********************************************************
 */
h1.title {
    
}
a.subtitle {
    color: $text-color;
}
a.subtitle:hover {
    color: $yellow;
}

.home body {
    overflow: hidden;
}
.site-header {
//border-bottom: 1px solid $grey-color-light;
//background-color: #fff;
//opacity: 0.75;
    text-transform: uppercase;
position:fixed;
left:0px;
top:0px;
height:56px;
width:100%;
z-index: 50;
}
//.page-content.home {
//    padding-bottom: 60px;
//    padding-top:160px;
//}
//.site-nav.home {
//    float:none;
//}
//.site-header.home {
//    position:relative;
//    text-align: center;
//    padding-bottom:100px;
//}
//.site-header.home a {
////    color:white;
//    color:#000;
//}
//.site-header.home a:hover {
//    color:#fff;
//}

.site-title {
    font-size: 20px;
    line-height: $nav-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    &:hover {
        text-decoration: none;
        color: $theme-color;
    }
}
.site-nav {
    font-weight: 700;
    font-size: .8em;
    letter-spacing: .15em;
    float: right;
    line-height: $nav-height;

    .page-link{
        color: rgba(0,0,0,.5);

        line-height: $base-line-height;
        // Gaps between nav items except the first
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    .page-link:hover{
        color: $yellow;
    }
    @include media-query($on-palm) {
        position: fixed;
        top: 0px;
        right: 10px;
        text-align: right;
        
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: line;
        }
    }
}

@import url(https://fonts.googleapis.com/css?family=Lato);

.constellation {
    position: absolute;
}

.header-bar{
    left: 0px;
    top: 0px;
    position: relative;
    font-size: 20px;
    display: block;
//    opacity: 0.75;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    line-height: 3em;
    z-index: 25;
    padding-top: 15%;
    h1{
//        color: $theme-color;
        color: #000;
        font-size:70px;
//        font-family: 'Satisfy', cursive;
    }
    h2{
        font-size:25px;
    }
    
    height:300px;
}


.portfolio {
    background-color: #fff;
}



/**
 * Site footer  **********************************************************
 */


.site-footer {
//border-top: 1px solid $grey-color-dark;
font-size: 10px;
//background-color: $grey-color-dark;
padding: 2px;
//color: #fff;
//position:fixed;
//left:0px;
//bottom:0px;
height:25px;
//width:100%;
}
.site-footer p {
    text-align: center;
}
/**
 * Pagination   **********************************************************
 */
.pagination{
max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
text-align: center;
width: 100%;
position: fixed;
bottom: 50px;
}
.paginationicon {
font-size: 50px;
a {
color: $theme-color;
    }
}
/**
 * Page content   **********************************************************
 */
.page-content {
padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
font-size: 20px;
}
.post-list {
margin: 0px 0;
list-style: none;
    > li {
margin-bottom: $vertical-spacing-unit;
    }
}
.contacticon {
    font-size: 20px;
    display:block;
    margin: 10px;
}
.contacticon a {
//    &:not(:first-child) {
        margin: 8px;
//    color: black;
//    }
}
.contacticon a:hover {
    color: $yellow;
}

.envelope {
    font-size: .95em;
}


.center{
text-align: center;
}
/**
 * Posts  **********************************************************
 */
.post-header {
margin-bottom: $vertical-spacing-unit;
}
.post-title {
font-size: 42px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 36px;
    }
}
.post-content {
h2 {
font-size: 42px;
@include media-query($on-laptop) {
font-size: 28px;
        }
    }
h3 {
font-size: 30px;
@include media-query($on-laptop) {
font-size: 22px;
        }
    }
h4 {
font-size: 20px;
@include media-query($on-laptop) {
font-size: 18px;
        }
    }
}
.post-meta {
font-size: $small-font-size;
color: $grey-color;
margin-bottom: 0px; 
}
.post-link {
display: block;
font-size: 42px;
}


/** 
 * Portfolio pages **********************************************************
*/
.blankbox{
background: $theme-color;
}
.img_row{
height: $img_height;
width: 100%;
overflow: hidden;
box-sizing:border-box;
//margin: $img_spacing;
}
.img_row.no-caption{
    margin-bottom: 20px;
}

img.border {
    border: 1px solid rgba(0,0,0,0.2);
}

.col{ 
    position: relative;
width: 100%;
height: 100%;
float: left;
object-fit: cover;
box-sizing:border-box;
padding: $img_spacing;
}
.right{
float: right;
}
.one {
width:33.33%;
}
.two {
width: 66.66%;
}
.three{
//    padding: 0;
width: 100%;
}
.no-padding {
    padding:0;
}

.caption{
height: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_size;
    margin-bottom: 15px;
}



.thumbnail {
    width: 100%;
    height: 200px;
}
.grid-item {
    position: relative;
    top: 6px;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.grid-item:hover {
    top: 0px;
}

.thumbnail:hover a {
}
.thumbnail a{
    float: left;
    position: relative;
    width: 100%;
    height: auto;
    
}
.thumbnail a span {

    color: black;
//    padding: 40px;
    text-align: center;
//    opacity: 0;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.thumbnail a:hover span {
//    opacity: 1;
}
.grid-item {
  width: 46%;
    height: 325px;
  float: left;
}
.grid-item:nth-child(even) {float: right}

.project-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .18em;
    margin: 0;
    margin-top: 5px;
}
.project-desc {
    line-height: 1.5em;
    font-size: 12px;
    color: $text-color;
}
a.linked-img img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    
}
a.linked-img:hover img {
    opacity:0.5;
    
}
.thumbnail img {
//    width: 100%;
}
@media only screen and (max-width: 1000px) {
    .grid-item {
        width: 100%;
//        height: 600px;
        margin-bottom: 300px
        
    }
    .thumbnail {
//        height: 300px;
            position: relative;
width: 100%;
height: 400px;
float: left;
object-fit: cover;
        padding-bottom: 20px;
    }
    
    .project-title {
        line-height: 2em;
    }
}

img.profile-photo {
    border-radius: 50%;
}
img.full-width {
    width:100%;
//    margin-bottom: 15px;
}
img.half-width {
    width: 49%;
    margin-bottom: 15px;
}
.right {
    position:relative;
    float:right;
}

//.typewriter img {
//    border: 1px solid black;
//}